/* All pages styles */

body {
    background-color: #fffad7;
    font-family: "Poppins";
}

h1{
    font-family:"Rubik";
}

header{
    display: flex;
    flex-direction: row;
}

/* Nav Bar Styles */
header{
    background-color: #fff8c2;
    display:flex;
    flex-direction: row;
}
#logo{
    width: 10%;
    float: left;
    margin-left: 2%;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    vertical-align: center;
}

nav a {
    list-style: none;
    display: flex;
    font-family: "Roboto";
    border-radius: 20%;
    padding: 3%;
    font-family: "Poppins";
    font-weight:bolder;
    color: black;
    font-size: 20px;
}


/* Footer Styles */

footer{
    padding-top: 1%;
    font-size: 20px;
    background-color: #f4b87f;
    text-align: center;
}


#avatar{
    width: 10%;
}
/* Home Page styles */

#hero{
    width: 1000px;
    float: left;
    height: 500px ;
    margin-bottom: 10px;
    display: block;
    padding-right: 30px;
}

#intro{
    margin-top: 10%;
}
main{
    padding: 20px;
    overflow: hidden;
    padding: 5%;
}

/* About Me Page styles */
#flower{

    float: left;
    height: 500px ;
    margin-bottom: 10px;
    display: block;
    padding-right: 30px;
}