/* All pages styles */

body {
    background-color: #b2a5e3;
}

h1{
    font-family: "Shrikhand", serif;
}

header{
    display: flex;
    flex-direction: row;
}
nav {

    position: absolute;
    left: 62%;
    z-index: 10; 
    padding: 10px;
    width: 30%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    padding-right: 0;
    padding-left: 0;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 3%;
    padding: 2%;
    font-family: "Abril Fatface";

}


#navSVG {
    position: absolute;
    height: 100%;
    left: 53%;
    bottom: 50%;
    display: block;
    filter: drop-shadow(10px 10px 5px #4b176e80);
    z-index: 1;

}

/* Home Page styles */
#heroSVG{
    padding: 0;
    margin: 0;
    width: 55%;
    top: 2%;
    position: absolute;
}

#hero{
    display: flex;
    flex-direction: row;
    width: 30%;
}
#welcome{
    position: absolute;
    top: 50%;
    right: 63%;
    z-index: 1;
    font-size: 80px;
}

/* About Me Page styles */

.main{
    position: relative;
    padding:5%;
    margin-top: 15%;
}
.intro{
    padding-top: 8%;

}