
body {
    background-color: #d3b0d5;
}

h2 {
    font-family: 'Abril Fatface';
}

nav {
    position: absolute;
    left: 62%;
    z-index: 10; 
    padding: 10px;
    width: 30%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav li{
    padding-right: 0;
    padding-left: 0;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 3%;
}

svg {
    position: absolute;
    height: 100%;
    left: 53%;
    bottom: 50%;
    display: block;
    filter: drop-shadow(10px 20px 5px #c78bee80);
    z-index: 1;
}


